.root {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	min-height: 100vh;
}
.form_wrap {
  	width: 400px;
	padding: 40px 20px 20px;
	background-color: white;
	border-radius: 2px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}