.root {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.addWords {
    max-width: 545px;
    min-height: 30px;
    line-height: 30px;
    margin: 0 auto 20px;
    text-align: center;
    font-weight: bold;
    color: #1bb95e;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    button {
        cursor: pointer;
    }
}