* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*background: url("./images/background.jpg");*/
    background-size: cover;
    background-color: #f3f3f3;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

#root {
	position: relative;
	min-height: 100vh;
  	padding-bottom: 100px;
}

.anticon {
    &:focus {
        outline: none;
    }
}