.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    div {
        padding: 0 6%;
    }
    a {
        font-size: 16px;
        color: #1bb95e;
    }
}